
.f-light {
    font-weight: 300 !important;
}
.f-normal {
    font-weight: 400 !important;
}
.f-semibold {
    font-weight: 500 !important;
}
.f-bold {
    font-weight: 600 !important;
}
.f-size-0_4 {
    font-size: .4em !important;
}
.f-size-0_6 {
    font-size: .6em !important;
}
.f-size-0_75 {
    font-size: .75rem !important;
}
.f-size-0_8 {
    font-size: .8rem !important;
}
.f-size-0_9 {
    font-size: .9rem !important;
}
.f-size-1 {
    font-size: 1rem !important;
}
.f-size-1_15 {
    font-size: 1.15rem !important;
}
.f-size-1_25 {
    font-size: 1.25rem !important;
}
.f-size-1_5 {
    font-size: 1.5rem !important;
}
.f-size-1_75 {
    font-size: 1.75rem !important;
}
.f-size-2 {
    font-size: 2rem !important;
}
.f-size-2_5 {
    font-size: 2.5rem !important;
}
.max-380 {
    max-width: 380px;
}
.max-300 {
    max-width: 300px;
}
.max-250 {
    max-width: 250px;
}
.max-200 {
    max-width: 200px;
}
.max-150 {
    max-width: 150px;
}
.max-120 {
    max-width: 120px;
}
.max-100 {
    max-width: 100px;
}
.py-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}
.py-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}
.line-1 {
    line-height: 1;
}
.line-1_05 {
    line-height: 1.05;
}
.line-1_15 {
    line-height: 1.15;
}
.line-14 {
    line-height: 14px;
}
.line-16 {
    line-height: 16px;
}
.line-18 {
    line-height: 18px;
}
.line-1_5 {
    line-height: 1.5rem;
}
.valign-top {
    vertical-align: top !important;
}
.valign-bottom {
    vertical-align: bottom !important;
}
.text-underline {
    text-decoration: underline;
}
.text-fade-08 {
    opacity: 0.8;
}
.text-fade-06 {
    opacity: 0.6;
}
.text-fade-04 {
    opacity: 0.4;
}
@media (max-width: 991.98px) {
    .f-size-md-0_8 {
        font-size: .8rem !important;
    }
    .py-md-50 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
@media (max-width: 767.98px) {
    .f-size-sm-1_5 {
        font-size: 1.5rem !important;
    }
    .f-size-sm-1_25 {
        font-size: 1.25rem !important;
    }
    .f-size-sm-1_15 {
        font-size: 1.15rem !important;
    }
    .f-size-sm-1 {
        font-size: 1rem !important;
    }
    .f-size-sm-0_9 {
        font-size: .9rem !important;
    }
    .f-size-sm-0_8 {
        font-size: .8rem !important;
    }
    .f-size-sm-0_6 {
        font-size: .6em !important;
    }
    .f-size-sm-0_4 {
        font-size: .4em !important;
    }
}